<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>New Vehicle</title>
		<link rel="stylesheet" type="text/css" href="css/cartCheckoutStyle.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- <script src="homeInputs.js"></script> -->
		
        <script type="text/javascript" th:src="@{/js/cartInputs.js}"></script>

	</head>
	<body>
		<header>
            <a href="/HomePage">
			    <h1>4onWheels Home</h1>
            </a>

            <div class="header-icons">
                <img src="https://www.freeiconspng.com/thumbs/cart-icon/basket-cart-icon-27.png" class="icon">
                <!-- Commented Out for now but this is to link the icon to the Shoping Cart, put above line between <a>...</a> -->
                <!-- <a href="/cart" title="Shopping Cart"> 
                </a> -->
                <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/account-profile-user-icon--icon-search-engine-10.png" class="icon">
                <!-- Add more icons as needed -->
            </div>
		</header>
		<main>

            <div class="checkout_title">
            <label for="checkout">
                Checkout
                <span class="error" aria-live="polite"></span>								
            </label>
            </div>

            <div class="container">
                <!-- Just A place holder right now will replace with Image from DB -->
                <form action="/HomePage" method="post" id="HomePage">
                    <fieldset>
                    
                        <legend>Payment Details</legend>								<!-- Title of the Box -->

                            <label for="ID">
                                ID: <span th:text="${param.id}"></span>
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>

                            <label for="Make">
                                Make: Get this from Database using ID
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>

                            <label for="Model">
                                Model: Get this from Database Using ID
                                <!-- Change to read avalible Models from database later -->                             
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>

                            <label for="Colour">
                                Colour:
                                <!-- Change to read avalible Colours from database later -->
                                <select id="Colour" name="Colour">
                                    <option value="">-- Select Colour --</option>
                                    <option value="White">White</option>
                                    <option value="Black">Black</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Red">Red</option>
                                </select>                            
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>

                            <label for="Price">
                                Price: Get this from Database Using ID
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>
                            
                            <label for="year">
                                Year: Get this from Database Using ID
                                <span class="error" aria-live="polite"></span>							<!-- References CSS Class "error" -->		
                            </label>

                            <label for="Type">
                                Type: New	
                            </label>
                        
                        <input type="submit" value="Add To Cart">

                    </fieldset>
                </form>

                <div class="cart-details">
                    <h2>Cart Details</h2>
                    <table id="cartDetails-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Model</th>
                                <th>Make</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tesla</td>
                                <td>Model S</td>
                                <td>$70000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Honda</td>
                                <td>Civic</td>
                                <td>$40000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Honda</td>
                                <td>Civic</td>
                                <td>$30000</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><strong>Total</strong></td>
                                <td><strong id="total-price">$0.00</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <button class="next-button" id="btn_checkout">Next ➔</button>

		</main>
		<footer>
			<p>Something</p>
		</footer>
		</body>
</html>