<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/user/newVehicleStyle.css}" />
    <link rel="stylesheet" th:href="@{/css/user/orderConfirmStyle.css}" />
</head>

<body>
	<header th:replace="~{header :: header}"></header>

    <main>
        <div class="order_form_details">
            <form id="order_confirmation_form">
                <fieldset>
                    <legend>Order Confirmation</legend>

                    <label for="orderNumber">
                        Order Number: <span th:text="${order.orderNumber}"></span>
                    </label>

                    <label for="name">
                        Name: <span th:text="${order.billingFirstName} + ' ' + ${order.billingLastName}"></span>
                    </label>

                    <label for="email">
                        Email: <span th:text="${order.billingEmail}"></span>
                    </label>

                    <label for="phone">
                        Phone: <span th:text="${order.billingPhone}"></span>
                    </label>

                    <label for="address">
                        Address:
                        <span th:text="${order.billingAddress} + ', ' + ${order.billingCity} + ', ' + ${order.billingProvince} + ' ' + ${order.billingPostalCode}"></span>
                    </label>

                    <label for="pickup">
                        Pickup:
                        <span th:text="${order.pickupLocation}"></span>,
                        <span th:text="${order.pickupDate}"></span> at
                        <span th:text="${order.pickupTime}"></span>
                    </label>

                    <label for="paymentMethod">
                        Payment Method: <span th:text="${order.paymentMethod}"></span>
                    </label>

                    <label for="total">
                        Total: $<span th:text="${order.total}"></span>
                    </label>
                </fieldset>
            </form>

            <div class="cart-details">
                <h2>Items in Your Order</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Color</th>
                            <th>Battery Capacity (kWh)</th>
                            <th>Charging Time (Hours)</th>
                            <th>range (Miles)</th>
                            <th>Top Speed (Mph)</th>
                            <th>Acceleration (Sec)</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${orderItems}">
                            <td th:text="${item.productName}"></td>
                            <td th:text="${item.color}"></td>
                            <td th:text="${item.battery_capacity}"></td>
                            <td th:text="${item.charging_time}"></td>
                            <td th:text="${item.range}"></td>
                            <td th:text="${item.top_speed}"></td>
                            <td th:text="${item.acceleration}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td>$<span th:text="${item.price}"></span></td>
                            <td>$<span th:text="${item.price * item.quantity}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p>Something</p>
    </footer>
</body>
</html>
